@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,500;1,100&display=swap');
main {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.card {
  /* box-sizing: border-box; */
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  
}
.card-one{
    width: 300px;
    height: 170px;
}
.card-two{
    width: 300px;
}
.card-border{
    border: 1px solid rgb(209, 209, 209);
}
.card-img {
  width: 30%;
  height: 70%;
  border-top-left-radius: 5px;
}
.card-img:hover{
    background-color: rgb(239, 239, 239);
}

.card-img-wide{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card-details{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}
.card-details:hover{
    background-color: rgb(239, 239, 239);
}
.book-details {
  /* width: 170px; */
  width: 56.67%;
  padding: 0px 20px;
}

.title{
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.author {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}
.card-props {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
}

.card-props button {
  border: none;
  font-family: 'Roboto'; 
  background-color: white;
}

.text-colored {
  color: #6200ee;
}
.text-para{
    font-weight: 200;
    padding: 10px;
}
.text-center{
    text-align: center;
}
button.text-colored:hover {
    border: none;
    background-color: rgb(239, 239, 239);
    border-radius: 5px;
}

.icon-container {
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-self: center;
}
.icon-container button{
    padding: 2px;
}
.icon {
  height: 18px;
  width: 18px;
  padding: 8px;
}
.icon-container .icon:hover{
    background-color: rgb(239, 239, 239);
    border-radius: 25px;
}
hr{
    /* background-color: black; */
    width: 50%;
    border: 1px solid rgb(209, 209, 209);
}

.position-rel{
    position: relative;
}
.text-overlay{
    position: absolute;
    top: 35%;
    left: 2%;
}
.text-light{
    color: white;
}