@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,100&display=swap');

main{
    font-family: 'Roboto';
    margin:5px;
}
h3{
    font-weight: 400;
}
.container{
    padding:15px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.dialog-container{   
    max-width: 200px;
    /* max-height: 250px; */
}
.title{

    font-weight: 500;
    font-size: 20px;
}
.subtext{
    font-weight: 400;
    font-size: 14px;
    color: dimgray;
}
.btn-container{
    display: flex;
    justify-content: flex-end;
}
button{
    border: none;
    padding: 8px;
    background-color: white;
}
.text-colored {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    color: #9154e6;   
}
.btn-wide{
    display: flex;
    align-items: center;
    width: 100%;
   
}
.btn-wide i{
    font-size: 36px;
    color: gray;
}
.btn-wide p{
    font-size: 16px;
    margin: auto 20px;
}

ul{
    list-style: none;
    padding-inline-start: 0;
    max-height: 120px;
    overflow-y: scroll;
}
li{
    padding: 10px 0px;
}
hr{
    width: 70%;
    margin: 20px auto;
    opacity: 0.5;
}