@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: grid;
    padding: 5px;
    margin: 10px;
    gap: 15px;
}
.chip-container{
    padding: 5px;
    width: 80%;
    /* background-color: gainsboro; */
    border: 3px solid black;
    border-radius: 5px;
}
.comp-title{
    font-family: 'Roboto';

}
.chip-wrapper{
    display: flex;
    flex-wrap: wrap
}
.chip{
    font-family: 'Roboto';
    padding: 8px;
    margin: 5px;
    border: none;
    border-radius: 15px;
}
.chip:hover{
    background-color: rgb(229, 229, 229);
}
.chip-blueviolet{
    background-color: blueviolet;
    color: white;
}
.chip-blueviolet:hover{
    background-color: rgb(106, 27, 180);
    color: rgb(219, 219, 219);
}
.chip-hotpink{
    background-color: hotpink;
    color: white;
}
.chip-hotpink:hover{
    background-color: rgb(207, 74, 141);
    color: white;
}
.chip-red{
    background-color: red;
    color: white;
}
.chip-red:hover{
    background-color: rgb(207, 18, 18);
    color: white;
}
.chip-wrapper-grid{
    display: grid;
}
.chip-wide{
    width: 150px;
    text-align: left;
}
.pad-10px{
    padding: 10px;
}