@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    padding: 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 50px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 15px;
    font-family: 'Roboto'; 
    font-size: 14px;
    background-color: rgb(54, 53, 53);
    color: white;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  
}
button{
    border: none;
    padding: 7px;
    background-color:rgb(54, 53, 53) ;
}
.text-colored {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    color: #c6a0fc;
    
}

.text-colored:hover {
    border: none;
    background-color:rgb(87, 86, 86) ;
    border-radius: 5px;
}
.fas{
    font-size: 12px;
    padding: 8px 10px;
    border-radius: 50%;
}
.fas:hover{
    background-color:rgb(87, 86, 86) ;
}